<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    {%  load static %}
    <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="">
                            <img src="{% static 'images/icon/logo.png' %}" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="/home/">
                                <i class="fas fa-upload"></i>Upload File</a>
                        </li>
                        {% for key, val in department.items %}
                            <li class="has-sub departmental" id="{{ key }}" value="{{ key }}">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-folder"></i> {{ key }}
                                </a>
                                <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                    {% for type in val %}
                                        <li value="{{ type }}" id="{{ type }}" class="dbs">
                                            <a href="#"><i class="fas fa-arrow-alt-circle-right"></i> {{ type }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="">
                    <img src="{%  static 'images/icon/logo.png' %}" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub" id="Dashboard" value="Dashboard">
                            <a class="js-arrow" href="/home/">
                                <i class="fas fa-upload"></i>Upload File</a>
                        </li>
                        {% for key, val in department.items %}
                            <li class="active has-sub departmental" id="{{ key }}" value="{{ key }}">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-folder"></i> {{ key }}
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    {% for type in val %}
                                        <li value="{{ type }}" id="{{ type }}" class="dbs">
                                            <a href="#"><i class="fas fa-arrow-alt-circle-right"></i> {{ type }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}

                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="content">
                                            {% if user.is_authenticated %}
                                                <a class="js-acc-btn" href="#">{{ user.username }}</a>
                                            {% else %}
                                                <a class="js-acc-btn" href="#">Unknown</a>
                                            {% endif %}
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="content">
                                                    <h5 class="name">
                                                        {% if user.is_authenticated %}
                                                            <a href="#">{{ user.username }}</a>
                                                        {% else %}
                                                            <a href="#">Unknown</a>
                                                        {% endif %}

                                                    </h5>
                                                        {% if user.is_authenticated %}
                                                             <span class="email">{{ user.email }}</span>
                                                        {% endif %}

                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                {% if user.is_authenticated %}
                                                    {% if user.is_staff %}
                                                        <div class="account-dropdown__item">
                                                            <a href="/siteadmin/dept/">
                                                                <i class="zmdi zmdi-account"></i>Admin Site</a>
                                                        </div>
                                                    {% endif %}
                                                <div class="account-dropdown__item">
                                                    <a href="/myuploads/">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="/changepass/">
                                                        <i class="zmdi zmdi-phone"></i>Change-Password</a>
                                                </div>
                                                {% endif %}
                                            </div>

                                            <div class="account-dropdown__footer">
                                                {% if user.is_authenticated %}
                                                <a href="/logout/">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="col-lg-12">
                                <div class="card" id="first">
                                    <div class="card-header">
                                        <strong>Upload File</strong>
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="/uploadfile/" method="post" id="uploadForm" enctype="multipart/form-data" class="form-horizontal">
                                            {% csrf_token %}
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="file-input" class=" form-control-label">File input</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="file" id="inputfile" name="file-input" class="form-control-file">
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">File Description</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="filedesc" name="text-input" placeholder="Text" class="form-control" required>
                                                    <small class="form-text text-muted">Please enter file description</small>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Exam Year</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="number" id="fileyear" name="year-input" placeholder="" class="form-control" required>
                                                    <small class="form-text text-muted">Please enter exam year</small>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="select" class=" form-control-label">Select Department</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select name="dept" id="department" class="form-control" required>
                                                        <option value="Please select">Please select</option>
                                                        {% for dept in depts %}
                                                            <option value="{{ dept }}">{{ dept }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="select" class=" form-control-label">Select Course Type</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select name="ctype" id="coursetype" class="form-control" required>
                                                        <option value="only">Please select</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="select" class=" form-control-label">Select Semester</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select name="semester" id="semester" class="form-control" required>
                                                        <option value="0">Please select</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="select" class=" form-control-label">Select Course</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select name="course" id="course" class="form-control" required>
                                                        <option value="0">Please select</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary" form="uploadForm">
                                            <i class="fa fa-dot-circle-o"></i> Submit
                                        </button>
                                        <button type="reset" class="btn btn-danger" form="uploadForm" id="reset">
                                            <i class="fa fa-ban"></i> Reset
                                        </button>
{#                                        <button type="button" class="btn btn-dark" id="tablecheck">#}
{#                                            <i class="fa fa-plus"></i> Check Table#}
{#                                        </button>#}
{#                                        <button type="button" class="btn btn-dark" id="tabledel">#}
{#                                            Delete Table#}
{#                                        </button>#}
                                    </div>
                                </div>

                        </div>
                        <div class="row m-t-25" id="semestersall" style="display: none;">

                        </div>
                        <div class="row m-t-25" id="coursesall" style="display: none;">

                        </div>
                        <div class="row m-t-25" id="allfiles" style="display: none;">

                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}">
    </script>

    <script>
        $('#reset').click(function () {
            $('#coursetype').empty().append($('<option>', {
                           value: 'only',
                           text: 'Please Select'
                       }));
            $('#semester').empty().append($('<option>', {
                           value: 'only',
                           text: 'Please Select'
                       }));
            $('#course').empty().append($('<option>', {
                           value: 'only',
                           text: 'Please Select'
                       }));
        });
        var department;
        var branch;
        var semester;
        var course;
        $('.departmental').click(function () {
           {#console.log($(this).attr('value'));#}
           department=$(this).attr('value');
        });

        $('.dbs').click(function () {

            {#console.log($(this).attr('value'));#}
            branch=$(this).attr('value');
            $('#first').hide();
            $('#semestersall').show();
            $('#coursesall').hide();
            $('#allfiles').hide();
            $.ajax({
                url: '/semester',
                data: {
                    'dept' : department,
                    'branch' : branch
                },
                dataType : 'json',
                success: function (data) {
                    {#console.log(data);#}
                    var semCount = data.num;
                    $('#semestersall').empty();
                    for(i=1;i<=semCount;i++){
                        $('#semestersall').append('<div class="col-sm-6 col-lg-3">\n' +
                            '                                    <div class="semesterval overview-item overview-item--c1" style="cursor: pointer;"data-val="'+i.toString()+'">\n' +
                            '                                        <div class="overview__inner">\n' +
                            '                                            <div class="overview-box clearfix">\n' +
                            '                                                <div class="icon">\n' +
                            '                                                    <i class="zmdi zmdi-file-text"></i>\n' +
                            '                                                </div>\n' +
                            '                                                <div class="text">\n' +
                            '                                                    <h2>'+department+'</h2>\n' + '</br><h2>'+branch+'</h2>'+
                            '                                                    <h2>Semester -'+i.toString() +'</h2>\n' +
                            '                                                    <br/><br/><br/>\n' +
                            '                                                </div>\n' +
                            '                                            </div>\n' +
                            '                                        </div>\n' +
                            '                                    </div>\n' +
                            '                                </div>');
                    }
                }
            });
        });



        $('#semestersall').on("click",".semesterval",function () {
            console.log('yip');
            var name = $(this).attr('data-val');
            {#console.log(name);#}
            semester = name;
            $('#first').hide();
            $('#semestersall').hide();
            $('#coursesall').show();
            $('#allfiles').hide();
            $.ajax({
                url: '/listcourse',
                data: {
                    'dept' : department,
                    'branch' : branch,
                    'semester':semester
                },
                dataType : 'json',
                success: function (data) {
                    {#console.log(data);#}
                    var coursesList = data;
                    $('#coursesall').empty();
                    for(var key in coursesList){
                        $('#coursesall').append('<div class="col-sm-6 col-lg-3">\n' +
                            '                                    <div class="courseval overview-item overview-item--c1" style="cursor: pointer;"data-val="'+key+'">\n' +
                            '                                        <div class="overview__inner">\n' +
                            '                                            <div class="overview-box clearfix">\n' +
                            '                                                <div class="icon">\n' +
                            '                                                    <i class="zmdi zmdi-file-text"></i>\n' +
                            '                                                </div>\n' +
                            '                                                <div class="text">\n' +
                            '                                                    <h2>'+key+'</h2>\n' + '</br><h2>'+coursesList[key]+'</h2>'+
                            '                                                    <br/><br/><br/>\n' +
                            '                                                </div>\n' +
                            '                                            </div>\n' +
                            '                                        </div>\n' +
                            '                                    </div>\n' +
                            '                                </div>');
                    }
                }
            });
        });
        var alreadyliked=false;
        var alreadydisliked=false;
        var likes=0
        var dislikes=0
        $('#coursesall').on('click','.courseval',function(){
            var courseID = $(this).attr('data-val');
            course = courseID;
            {#console.log(courseID);#}
            $('#first').hide();
            $('#semestersall').hide();
            $('#coursesall').hide();
            $('#allfiles').show();
            $.ajax({
                url: '/showfiles',
                data: {
                    'dept': department,
                    'branch': branch,
                    'semester': semester,
                    'courseID': course
                },
                dataType: 'json',
                success: function (data) {
                    {#console.log(data);#}
                    var fileList = data;
                    $('#allfiles').empty();
                    for (var key in fileList) {
                        var xp = fileList[key];
                        $('#allfiles').append('<div class="col-sm-6 col-lg-3">\n' +
                            '                                    <div class="overview-item overview-item--c1">\n' +
                            '                                        <div class="overview__inner">\n' +
                            '                                            <div class="overview-box clearfix">\n' +
                            '                                                <div class="fileval icon" style="cursor: pointer;" data-val="' + key + '">\n' +
                            '                                                    <i class="zmdi zmdi-file-text"></i>\n' +
                            '                                                </div>\n' +
                            '                                                <div class="text">\n' +
                            '                                                    <h2>FileName : ' + xp['name'] + '</h2>\n' +
                            '                                                    <br/><br/><br/><h2><i id="'+key+'L" class="zmdi zmdi-thumb-up liked" style="cursor: pointer;" data-val="' + key + '">'+xp['L']+'</i><i id="'+key+'D" class="zmdi zmdi-thumb-down disliked" style="float: right;cursor: pointer;" data-val="' + key + '">'+xp['D']+'</i></h2>\n' +
                            '                                                </div>\n' +
                            '                                            </div>\n' +
                            '                                        </div>\n' +
                            '                                    </div>\n' +
                            '                                </div>');
                    }
                }
            });
        });

        $('#allfiles').on('click', '.liked', function () {
            var key =  $(this).attr('data-val');
            var idL = key.toString() + 'L';
            var idD = key.toString() + 'D';
            $.ajax({
                url: '/addlikes/',
                data: {
                    'pk': key
                },
                dataType: 'json',
                success: function (data) {
                    var likes = data['L'];
                    var dislikes = data['D'];
                    $('#'+idL).empty().append(likes.toString());
                    $('#'+idD).empty().append(dislikes.toString());
                }
            });
        });

        $('#allfiles').on('click', '.disliked', function () {
            var key =  $(this).attr('data-val');
            var idL = key.toString() + 'L';
            var idD = key.toString() + 'D';
            $.ajax({
                url: '/addislikes/',
                data: {
                    'pk': key
                },
                dataType: 'json',
                success: function (data) {
                    var likes = data['L'];
                    var dislikes = data['D'];
                    $('#'+idL).empty().append(likes.toString());
                    $('#'+idD).empty().append(dislikes.toString());
                }
            });
        });

        $('#allfiles').on('click', '.fileval', function(){
            var filename = $(this).attr('data-val');
            var site = "http://127.0.0.1:8000/download/"+filename+"/";
            var win = window.open(site, '_blank');
            win.focus();
        });

        $('#Dashboard').click(function () {
           {#console.log('dashboard clicked');#}
        });

        var dept;
        var ctype;
        var sem;


        $('#department').change(function(){
            dept = this.value;
            {#console.log(dept);#}
            $.ajax({
               url: '/selcType',
               data: {
                   'dept' : dept
               },
               dataType: 'json',
               success: function (data) {
                   var listtype = data.cType;
                   {#console.log(listtype);#}
                   $('#coursetype').empty().append($('<option>', {
                           value: 'only',
                           text: 'Please Select'
                       }));
                   for(i=0;i<listtype.length;i++) {
                       $('#coursetype').append($('<option>', {
                           value: listtype[i],
                           text: listtype[i]
                       }));
                   }
               }
            });
        });

        $('#coursetype').change(function(){
            ctype = this.value;
            {#console.log(dept);#}
            $.ajax({
               url: '/selcsem',
               data: {
                   'dept' : dept,
                   'ctype' : ctype
               },
               dataType: 'json',
               success: function (data) {
                   var semnum = data.numsem;
                   $('#semester').empty().append($('<option>', {
                           value: 'only',
                           text: 'Please Select'
                       }));
                   for(i=1;i<=semnum;i++) {
                       $('#semester').append($('<option>', {
                           value: i.toString(),
                           text: i.toString()
                       }));
                   }
               }
            });
        });

        $('#semester').change(function(){
            sem = this.value;
            {#console.log(dept);#}
            $.ajax({
               url: '/selcourse',
               data: {
                   'dept' : dept,
                   'ctype' : ctype,
                   'sem' : sem
               },
               dataType: 'json',
               success: function (data) {
                   var listtype = data;
                   {#console.log(listtype);#}
                   $('#course').empty().append($('<option>', {
                           value: 'only',
                           text: 'Please Select'
                       }));
                   for(var key in listtype) {
                       $('#course').append($('<option>', {
                           value: key,
                           text: key + ' - ' + listtype[key]
                       }));
                   }
               }
            });
        });

        $('#course').change(function(){

        });


    </script>
    <!-- Main JS-->
    <script src="{%  static 'js/main.js'%}"></script>

</body>

</html>
<!-- end document-->
